<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="PlariumExePath" value="F:\Raid\Plarium\PlariumPlay\PlariumPlay.exe"/>
		<add key="PlariumExeArguments" value="--args -gameid=101 -tray-start"/>
	</appSettings>
</configuration>